<!-- css style link for profile page-->
<link rel="stylesheet" href="/css/home.css">
<div class="profile-div">
    <h2>
        NodeJs Authentication System
     </h2>
     <!-- user information -->
    <p><%=user.name%></p>
    <p><%=user.email%></p>
</div>