<!-- css style link for reset page-->
<link rel="stylesheet" href="/css/home.css">

<h1 class="heading">Reset your password!</h1>
<form action="/reset-pwd" method="post" class="form-div">
    <!-- form for reset with email, oldpassword and newpassword -->
    <div class="container">
        <div class="input-div">
            <label for="email">Email: </label>
            <input type="text" placeholder="email" name="email" value="<%=user.email%>">
        </div>
        <div class="input-div">
            <label for="oldpassword">Old<br>Password:</br> </label>
            <input type="password" name="oldpassword" placeholder="old password">
        </div>
        <div class="input-div">
            <label for="newpassword">New <br>Password:</br> </label>
            <input type="password" name="newpassword" placeholder="new password">
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </div>
</form>
